{% extends "base.njk" %}

{% block navbar %}

    <nav class="navbar navbar-expand-lg site-navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{{navLogo}}" alt="nav-logo" />
        </a>
        <a class="nav-link btn btn-sm btn-primary btn-sm-rounded" href="/{{navBtnLink}}">
          <span class="btn-area">
            <span data-text="{{navBtnText}}">
              {{navBtnText}}
            </span>
          </span>
        </a>
      </div>
    </nav>

{% endblock %}

{% block content %}

    <section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-hero-content text-center">
              <h5 class="hero">{{hero.subTitle}}</h5>
              <h1 class="hero">
                {{hero.title.firstPara}}
                <br>
                {{hero.title.secondPara}}
              </h1>
              <ul class="site-hero-content-buttons">
                <li>
                  <a href="{{hero.seeServicesBtn.link}}" class="btn btn-secondary scroll-to btn-sm-rounded">
                    <span class="btn-area">
                      <span data-text="{{hero.seeServicesBtn.text}}">
                        {{hero.seeServicesBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="{{hero.seeContactBtn.link}}" class="btn btn-primary scroll-to btn-sm-rounded">
                    <span class="btn-area">
                      <span data-text="{{hero.seeContactBtn.text}}">
                        {{hero.seeContactBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="site-blog details">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <article class="site-blog-details">
              <h2 class="blog-title">{{introduction.title}}</h2>
              {{content | safe}}
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="site-services" id="servicios">
      <div class="container">
        <h2 class="blog-title">{{services.title}}</h2>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="site-services-item">
              <div class="site-services-item-header">
                <div class="person">
                  <h5>{{services.import.title}}</h5>
                </div>
              </div>
              <p class="site-services-item-body">
                {{services.import.description}}
              </p>
            </div>
          </div> 

          <div class="col-lg-4 col-md-6">
            <div class="site-services-item">
              <div class="site-services-item-header">
                <div class="person">
                  <h5>{{services.export.title}}</h5>
                </div>
              </div>
              <p class="site-services-item-body">
                {{services.export.description}}
              </p>
            </div>
          </div> 

          <div class="col-lg-4 col-md-6">
            <div class="site-services-item">
              <div class="site-services-item-header">
                <div class="person">
                  <h5>{{services.intervention.title}}</h5>
                </div>
              </div>
              <p class="site-services-item-body">
                {{services.intervention.description}}
              </p>
            </div>
          </div> 

          <div class="col-lg-4 col-md-6">
            <div class="site-services-item">
              <div class="site-services-item-header">
                <div class="person">
                  <h5>{{services.consultancy.title}}</h5>
                </div>
              </div>
              <p class="site-services-item-body">
                {{services.consultancy.description}}
              </p>
            </div>
          </div> 

          <div class="col-lg-4 col-md-6">
            <div class="site-services-item">
              <div class="site-services-item-header">
                <div class="person">
                  <h5>{{services.logistics.title}}</h5>
                </div>
              </div>
              <p class="site-services-item-body">
                {{services.logistics.description}}
              </p>
            </div>
          </div> 

          <div class="col-lg-4 col-md-6">
            <div class="site-services-item">
              <div class="site-services-item-header">
                <div class="person">
                  <h5>{{services.internationalMoving.title}}</h5>
                </div>
              </div>
              <p class="site-services-item-body">
                {{services.internationalMoving.description}}
              </p>
            </div>
          </div> 
        </div>
      </div>
    </section>

    <footer class="site-footer" id="contacto">
      <div class="container">
        <div class="column">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="site-footer-widget">
                <h5 class="site-footer-widget-title">{{footer.contactHeading}}</h5>
                <p class="site-footer-widget-description">
                  {% if footer.email.position %}  
                    <span>{{footer.email.position}}</span>
                    <br>
                  {% endif %}
                  {% if footer.email.name %}  
                    <span>{{footer.email.name}}</span>
                    <br>
                  {% endif %}
                  <span>{{footer.email.title}}</span>
                  <a href="{{footer.email.link}}">{{footer.email.text}}</a>
                  <br>
                  <a href="{{footer.location.link1}}">{{footer.location.text1}}</a>
                  <br>
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13134.789453368472!2d-58.3737494!3d-34.6118135!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe6f9c76d2f124393!2sEMB%20Consultores%20SRL!5e0!3m2!1sen!2sar!4v1669690888837!5m2!1sen!2sar" width="100%" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="site-footer-widget">
                <p class="site-footer-widget-description">
                  <br>
                  <br>
                  <br>
                  <a href="{{footer.location.link2}}">{{footer.location.text2}}</a>
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.8686750541997!2d-58.447744!3d-34.556880299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5cccc6ac3e5%3A0x5a5358a33f24cd09!2sLibertador%20Office%20Bussines%20Center!5e0!3m2!1ses-419!2sar!4v1670280022431!5m2!1ses-419!2sar" width="100%" height="225" style="border:0"; allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
            <div class="col-lg-3 col-md-6">
              <a href="#top" class="site-footer-widget-top">
                <img src="{{footer.back2topIcon}}" alt="back-to-top">
                <p>
                  {{footer.back2topIconText}}
                </p>
              </a>
            </div>
          </div> 
          <div class="col-12">
            <div class="site-footer-copyright text-center my-3">
              <p>© Copyright 2022 - All Rights Reserved by EMB Consultores</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  
{% endblock %}